{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}{% endblock %}</title>

    <!-- Favicons -->
    <link href="{% static 'software/img/fusiontec/favicon.png' %}" rel="icon">
    <link href="{% static 'software/img/fusiontec/favicon.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- Vendor CSS Files -->
    <link href="{% static 'software/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'software/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'software/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'software/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'software/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="{% static 'software/css/main.css' %}">
</head>
<body>

  <main>
    {% block content2 %}

    {% endblock %}
  </main>
  

  {% block footer %}
      {% include 'software/footer.html' %}
  {% endblock %}
       

  <!-- Floating Icons -->
    <!-- Floating Google Review Icon (Left) -->
    <div class="floating-icon google-review">
      <a href="https://maps.app.goo.gl/ahmkkpsnpe1kenCb8" target="_blank">
          <i class="fab fa-google"></i>
          <span class="tooltip">Google Review</span>
      </a>
    </div>
    <!-- Floating WhatsApp Icon (Right) -->
    <div class="floating-icon whatsapp">
      <a href="https://wa.me/919841446699" target="_blank">
          <i class="fab fa-whatsapp"></i>
          <span class="tooltip">Chat on WhatsApp</span>
      </a>
    </div>
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'software/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'software/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'software/vendor/glightbox/js/glightbox.min.js' %}"></script> 
  <script src="{% static 'software/vendor/purecounter/purecounter_vanilla.js' %}"></script> 
  <script src="{% static 'software/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'software/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'software/vendor/swiper/swiper-bundle.min.js' %}"></script> 

  <!-- Your custom JS -->
  <script src="{% static 'software/js/main.js' %}"></script>

</body>
</html>
